/* common use style */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: #E55473;
    border: none;
    padding: 15px 35px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
}

.common-section {
    align-items: center;
    text-align: center;
    margin-top: 70px;
    margin-left: 450px;
    margin-right: 450px;
}

.title {
    color: #272727;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 0;
}

.title-description {
    color: rgba(39, 39, 39, 60%);
    font-size: 14px
}

span {
    color: #E55473;
}

/* Navigation Bar */

.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 50px;
    background-color: white;
    color: #E55473;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    padding-right: 20px;
}
.navbar ul li{
    padding-right: 40px;
}
.navbar ul li a{
    text-decoration: none;
    color: #E55473;
    padding: 10px 15px;
    border-radius: 25px;
}
.navbar ul li a:hover{
    background-color: #E55473;
    color: white;
}

.navbar span{
    color: #575757;
}

/* header related style */
.banner {
    background-color: rgba(229, 84, 115, 10%);
    display: flex;
    width: 100vw;
}

.heading {
    margin: 100px 200px 4px 200px;
}

.banner-title {
    color: #272727;
    font-size: 45px;
    margin-bottom: 0;
}

.heading-description {
    color: rgba(39, 39, 39, 60%);
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.banner-flower {
    height: 500px;
    margin-right: 180px;
    margin-top: 35px;
    margin-bottom: 0;
}



/* Featured flower related style */
.featured-flower-section {
    display: flex;
    margin-left: 180px;
    margin-right: 180px;
}

.featured-box{
    display: flex;
    width: 90%;
    margin: 50px 5%;
    justify-content: center;
}

.featured-container{
    text-align: center;
    text-decoration: underline;
}

.featured-item{
    text-align: center;
    width: 320px;
    height: 380px;
    padding: 80px 50px 0 50px;
    margin: 10px 15px;
    border-radius: 50% 50% 0 0 ;
 
}
.featured-item img{
    max-height: 100%;
    max-width: 100%;
}



/* support section */
.support-section {
    display: flex;
    background-color: rgba(39, 39, 39, 5%);
    margin: 0px 200px 0 200px;
    height: 270px;
    padding-left: 20px;
}

.delivery-day {
    margin: 70px 0px 30px 50px;
    padding-right: 20px;
}

.fresh-flower {
    margin: 70px 0px 30px 50px;
    padding-right: 50px;
}

.free-support {
    margin: 70px 0px 30px 50px;
    padding-right: 80px;
}

.support-section-image1 {
    margin-left: 90px;
}

.support-section-image2 {
    margin-left: 80px;
}

.support-section-image3 {
    margin-left: 30px;
}

.caption {
    font-size: 16px;
    color: rgba(39, 39, 39, 80%);
    font-weight: lighter;
}



/* hot deal related style */
.hot-deal {
    display: flex;
    background-color: rgba(229, 84, 115, 5%);
    margin-top: 100px;
    padding-left: 60px;
    padding-top: 35px;
}

.hot-deal-section {
    padding: 60px 70px 100px 220px;
}

.hot-deal-heading {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 60%);
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}

.hot-deal-flower {
    padding-top: 25px;
    height: 280px;
    margin-right: 300px;
}

.hot-deal-button {
    margin-left: 180px;
}



/* Instagram Section related style */
.instagram-flower-section {
    display: flex;
    height: 310px;
    margin-left: 200px;
    margin-right: 200px;
}

.insta-image {
    margin: 40px 12px 20px 12px;
}



/* Latest deals related section */
.latest-deal {
    background-image: url('..//Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 80px 200px 80px 200px;
    height: 350px;
}

.latest-deal-header {
    text-align: center;
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 70px;
}

.subscribe-section {
    display: flex;
    margin-top: 50px;
    padding-left: 180px;
}

::placeholder {
    padding-left: 20px;
    font-size: 16px;
}

#email {
    margin-right: 20px;
    width: 450px;
    height: 45px;
    border: none;
    border-radius: 8px;
}




/* footer related style */
.footers {
    background-color: black;
    color: white;
    height: 380px;
    padding-top: 20px;

}

.footer-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 100px;
}

.title-description-footer {
    font-size: 14px;
    color: rgba(255, 255, 255, 60%);
}

footer {
    color: rgba(255, 255, 255, 40%);
    font-size: 12px;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
